[submodule "rtl/apb_gpio"]
	path = rtl/apb_gpio
	url = git@github.com:Starrynightzyq/apb_gpio.git
[submodule "rtl/apb_uart_sv"]
	path = rtl/apb_uart_sv
	url = git@github.com:Starrynightzyq/apb_uart_sv
[submodule "rtl/axi2apb"]
	path = rtl/axi2apb
	url = git@github.com:Starrynightzyq/axi2apb.git
[submodule "rtl/micro_uart"]
	path = rtl/micro_uart
	url = git@github.com:Starrynightzyq/microuart.git
[submodule "rtl/apb_timer"]
	path = rtl/apb_timer
	url = git@github.com:Starrynightzyq/apb_timer.git
[submodule "rtl/riscv_dbg"]
	path = rtl/riscv_dbg
	url = git@github.com:Starrynightzyq/riscv-dbg.git
[submodule "rtl/jtag_pulp"]
	path = rtl/jtag_pulp
	url = git@github.com:Starrynightzyq/jtag_pulp.git
[submodule "rtl/common_cells"]
	path = rtl/common_cells
	url = git@github.com:Starrynightzyq/common_cells.git
[submodule "rtl/tech_cells_generic"]
	path = rtl/tech_cells_generic
	url = git@github.com:Starrynightzyq/tech_cells_generic.git
